h1{
    text-align: center;
}
h3{
  text-align: left;
  font-weight:normal;  
}

.margin{
  display: flex;
  flex-direction: row;
}

.menu{
  width: 200px;
  background-color: navy;
  padding: 20px;
  color: white;
  min-height: 100vh;
  box-sizing: border-box;
}

.clickable:hover{
  background-color: crimson;
}

.content {
  flex: 1;           
  padding: 20px;
  box-sizing: border-box;
}

table {
    border-spacing: 1px;
    border: 1px solid black;
  }

  th {
    background-color: #D6EEEE;
  }

  td {
    background-color:white;
  }

th, td {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;

  }